* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}
.bg-hero {
  height: 870px;
  padding-top: 45px;
  background-color: #f3f5fc;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 59px;
  height: 28px;
  margin-right: 12px;
}
.nav-logo h3 {
  font-size: 18;
  font-weight: 400;
}
.nav-items {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}
.nav-items ul {
  list-style: none;
  display: flex;
  width: 65%;
  justify-content: space-between;
  align-items: center;
}
.nav-items ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #0a1329;
}
.nav-items ul li a:hover {
  color: #f44336;
  transition: 0.3s;
}
.btn-items button {
  padding: 16px 32px;
  border-radius: 100px;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn-items .btn-secondary {
  background-color: transparent;
  color: #315bc7;
}
.btn-items .btn-primary {
  background-color: #315bc7;
  color: #ffffff;
}
.btn-items .btn-primary:hover {
  background-color: #274696;
  box-shadow: 2px 7px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
/* Hero */
.row {
  display: flex;
  margin-top: 137px;
}
.col-right,
.col-left {
  flex-basis: 50%;
}
.col-left .btn {
  padding: 9px 16px;
  text-transform: uppercase;
  color: #f44336;
  background-color: #ffebee;
  outline: none;
  border: none;
  border-radius: 50px;
}
.col-left h1 {
  font-size: 66px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 26px;
}
.col-left p {
  font-size: 20px;
  font-weight: 400;
  color: #0a132969;
  margin-bottom: 52px;
  line-height: 30px;
}

/* Content */
.row-content {
  display: flex;
}
.col-content1 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    url(images/ultra_light.svg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.col-content2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    url(images/best_resolution.svg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.content1,
.content2 {
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content1 h1,
.content2 h1 {
  margin-top: -150px;
  margin-bottom: 36px;
  font-size: 48px;
  font-weight: 700;
}
.content1 p,
.content2 p {
  font-size: 28px;
  color: #ffffff77;
  text-align: center;
  line-height: 50px;
  margin-bottom: 20px;
}
.row-content span {
  color: #ffffff;
}
.col-content1,
.col-content2 {
  flex-basis: 50%;
}

/* Benefit */
.benefit {
  height: 1027px;
}
.bg-benefit {
  height: 791px;
  background-color: #f3f5fc;
  padding-top: 101px;
}
.description-benefit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.description-benefit h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 31px;
}
.description-benefit p {
  font-size: 24px;
  color: #0a13298e;
  line-height: 45px;
  margin-bottom: 60px;
}
.items {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 60%;
  text-align: center;
}
.items-list {
  margin-bottom: 63px;
}
.items h2 {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;
}
.features-bg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

/* Video */
.video {
  height: 1020px;
  padding: 96px 0 76px 0;
}
.video-title h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 60px;
}

.video-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}
.video-content {
  position: relative;
}
.video-content .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Product */
.new-products {
  height: 996;
  padding: 44px 0 62px 0;
}
.product-card-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.product-card-title h1 {
  font-size: 48px;
  font-weight: 700;
  color: #0a1329;
}
.product-card-title P {
  font-size: 22px;
  color: #0a13298c;
  margin: 31px 0 59px 0;
  line-height: 35px;
}
.products-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.product-card {
  width: 470px;
  height: 675px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  text-align: center;
  flex: 1 1 150px; /*  Stretching: */
  flex: 0 1 150px; /*  No stretching: */
  margin: 5px;
}
.product-card img {
  padding: 30px;
}

.product-title h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}

.product-title h2 {
  font-size: 32px;
  font-weight: medium;
}

.product-title p {
  font-size: 20px;
  color: #0a1329a8;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Testimonial */
.testimonial {
  height: 759px;
  margin-top: 91px;
  background-color: #f3f5fc;
  padding: 116px 0;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.testimonial h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 100px;
  margin-bottom: 70px;
}

.testimonial-card {
  width: 370px;
  height: 250px;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 30px;
}

.testimonial-card h3 {
  font-size: 16px;
  color: #0a1329d2;
  line-height: 30px;
}

.testimonial-pic {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.testimonial-title {
  margin-left: 30px;
  line-height: 30px;
}

.testimonial-title h3 {
  font-size: 20px;
  font-weight: 700;
  color: #0a1329;
}
.testimonial-title p {
  font-size: 18px;
  color: #818181;
}

/* Footer */
.footer {
  height: 410px;
  background-color: #0a1329;
  padding: 100px 0 106px 0;
  color: #ffffff;
}
.sec-about {
  margin-right: 135px;
}
.logo-about {
  display: flex;
}
.items-footer {
  display: flex;
}
.logo-about h1 {
  font-size: 26px;
  font-weight: 700;
  margin-left: 20px;
}
.logo-about-items h2 {
  margin: 25px 0 34px 0;
  font-weight: lighter;
}
.logo-about-items ul {
  display: flex;
  list-style: none;
  width: 20%;
  justify-content: space-between;
}

.logo-about-items ul li a {
  text-decoration: none;
  margin-right: 16px;
}

.items-explore {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.sec-explore h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 36px;
  margin-right: 179px;
}
.sec-explore ul {
  font-size: 18px;
  list-style: none;
  font-weight: lighter;
}
.sec-explore ul li a {
  text-decoration: none;
  color: #ffffff8f;
  line-height: 45px;
}

.sec-explore ul li a:hover {
  transition: 0.3s;
  color: #f44336;
}
